@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    color: white;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px 0;
}

.logo-nav{
    height: 72px;
}

.menu-nav{
    display: flex;
    gap: 32px;
}

.menu-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400px;
    font-size: 18px;
}

.conteudo{
    border-top: 0.3px solid #fff2ef;
}

.conteudo-principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.string{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.string-titulo{
    font-family: 'Righteous', cursive;
    font-weight: lighter;
    font-size: 64px;
    color: #FFF2E7;
}

.string-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color: #ecd6c6;
}

.string-botao{
    background-color: #ecd6c4;
    color: #2F2325;
    ;
    width: 185px;
    height: 67px;
    font-family: 'Sarala', sans-serif;
    font-size: 22px;
    text-align: center;
    border: 0;
    border-radius: 18px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    transition: .3s;
    cursor: pointer;
}

.string-botao:hover{
    background-color: #b19e8f;
}

.logo-grande{
    height: 430px;
}

.secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 48px;
    padding-bottom: 30px;
    color: #ecd6c6;
}

.secundario-titulo{
    border-top: 0.3px solid #fff2ef;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    font-weight: lighter;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.secundario-p{
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

.rodape{
    margin-top: 40px;
    padding: 30px;
    border-top: 0.4px solid #fff2ef;
}

.rodape-logo{
    height: 48px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

